@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
  }

body{
font-family: "Ubuntu",sans-serif;
margin: 0;
height: 100vh;
width: 100%;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 350px;
    border-radius: 20px;
}




.upper-part{
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

    .upper-part img{
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0;
        left: 0;
    }

.weather-data{
    position:relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.397);
}

    .location{
        color: white;
        font-size: 1em;
        font-weight: 400;
    }
    .temperature{
        color: white;
        font-size: 3em;
        font-weight: 600;
    }



.lower-part{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: rgb(228, 233, 238);
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.more-info-label{
    font-weight: 500;
    font-size: 0.8em;
    color: rgb(47, 49, 54);
    margin: 5px 0px 0px 12px;
}
.more-info-container{
    flex: 1;
    background-color: rgb(220, 235, 241);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 85%;
    width: 93%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
}

.info-block{
    display: flex;
    width: 50%;
}

.info-block-label{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.info-block-label img{
    width: 1.3em;
}

.info-block-label span{
    color: rgb(71, 61, 61);
    font-size: 0.7em;
    font-weight: 500;
}

.info-block-value{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(41, 21, 21);
    font-weight: 500;
}

#rain{
    height: 30px;
    width: 35px;
}
#wind{
    height: 25px;
    width: 40px;
}




/*  -----------------     */
/*  waving background    */
/*  -----------------   */
                    .page{
                    height: 100vh;
                    }
                    .page::before{
                        content: "";
                        position: fixed;
                        width: 300%;
                        height: 100%;
                        background-color: #0075ff;
                        left: 50%;
                        top:50%;
                        transform: translateX(-50%) skew(0,-10deg);
                        border-radius: 50%;
                        z-index: -1;
                        animation: waving 5s ease-in-out infinite alternate;
                        
                    }
                    
                    @Keyframes waving{
                        from{
                            transform: translateX(-50%) skew(0,-10deg);
                        }
                        to{
                            transform: translateX(-30%) skew(10deg,0);
                        }
                    }
                    
/*  -----------------     */
/*                       */
/*  -----------------   */